<link rel="stylesheet" href="/nokari/css/common/subnavbar.css">
<body>

    <div class="navbar-wrapper">
    <div class="nav-row">

        <button class="nav-btn active" data-category="All">All</button>
        <button class="nav-btn" data-category="Banking">Banking</button>
        <button class="nav-btn" data-category="Railway">Railway</button>
        <button class="nav-btn" data-category="Defence">Defence</button>
        <button class="nav-btn" data-category="Central Government">SSC / UPSC</button>
       
        <button class="nav-btn" data-category="Entrance Exam">Entrance Exam</button>
        <button class="nav-btn" data-category="Judiciary">Court</button>
        <button class="nav-btn" data-category="PSU">PSU Results</button>
        <button class="nav-btn" data-category="Education">Teaching</button>

    </div>
    </div>
  </div>
</div>
<script src="/js/subnavbar.js"></script>
</body>